.formularioIngreso{
    width: 50vw;
    height: 50vh;
    align-content: center;
    margin-top: 25vh;
    margin-left: 25vw;
}
#inputIngreso{
    align-content: center;
    text-align: center;
    margin-top: 3%;
    width: 50%;
    margin-left: 25%;
}
.divBoton{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    align-content: center;
}
#botonIngreso{
    width: 40%;
    margin-left: 30%;
}
#botonIngreso:hover{
    background-color: rgb(67, 90, 67);
}
 button{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 1px solid #000000;
 }
.titulo{
    color: grey;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
input{
    border-radius:10px 10px 10px 10px;
-moz-border-radius: 22px 22px 22px 22px;
-webkit-border-radius: 22px 22px 22px 22px;
border: 1px solid #000000;
text-align: center;
}
.divInputIngreso{
    align-content: center;
}